.vs/
.suo
.user
.userprefs
.csproj.user
.sln.user
.orig
.pdb
[Dd]ebug/
[Rr]elease/
bin/
obj/
packages/
.nupkg
.nuspec
TestResults/
_ReSharper.*/
[Tt]emp/
[Ll]ogs/
publish/
[Ee]xe
[Dd]ll
.bak
.log
.cache
.zip
.tar
.rar
.dotCover
.db