@{
    ViewData["Title"] = "Serviços";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/servicos/servicos.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="borda-titulo">
        <h1 class="titulo-brindes">BRINDES</h1>
    </div>
<section class="brindes">
    <div class="conteudo">
        <hi class="titulo">Brindes que são sua cara !</hi>
        <p>
            Personalize seus brindes com a nossa marcenaria artesanal. Oferecemos uma variedade de opções, desde canecas e chaveiros até caixas de madeira personalizadas. Cada peça é feita com atenção aos detalhes e pode ser adaptada ao seu gosto, tornando cada brinde único e especial.
        </p>
        <p>
            Nossos brindes são perfeitos para eventos corporativos, festas de aniversário ou como presentes personalizados. Escolha entre uma variedade de madeiras e acabamentos, e adicione seu logotipo ou mensagem para criar um brinde que realmente se destaca.
        </p>
        <h2 >Tipos de brinde:</h2>
        <ul>
            <li>chaveiros</li>
            <li>Porta-copos</li>
            <li>Porta-celular</li>
            <li>Lembretes</li>
            
        </ul>
    </div>
</section>
    <div>
        <h1 class="titulo-moveis"><a href="">MOVÉIS PERSONALIZADOS</a></h1>
    </div>

<section class="personalizados">
    <div class="conteudo">
        <hi class="titulo">Móveis que contam sua história !</hi>
        <p>
            Transforme seu espaço com nossos móveis personalizados. Desde mesas e cadeiras até estantes e armários, cada peça é feita sob medida para atender às suas necessidades e estilo. Trabalhamos com uma variedade de madeiras e acabamentos, garantindo que cada móvel seja único e de alta qualidade.
        </p>
        <p>
            Nossos móveis são perfeitos para residências, escritórios ou qualquer espaço que precise de um toque especial. Personalize o tamanho, a forma e o acabamento para criar peças que realmente se encaixam no seu ambiente.
        </p>
        <h2>Tipos de móveis:</h2>
        <ul>
            <li>Mesas</li>
            <li>Armarios </li>
            <li>Cadeiras</li>
            <li>Estantes</li>
            
        </ul>
        
    </div>
</section>

<section class="pagamento">
    <div class="conteudo">
        <h2>Formas de pagamento</h2>
        <p>
            Aceitamos diversas formas de pagamento para sua conveniência. Você pode pagar com cartão de crédito, débito, PIX ou boleto bancário. Oferecemos opções de parcelamento para facilitar sua compra.
        </p>
        <p>
            Consulte nossas condições de pagamento e promoções especiais. Estamos aqui para ajudar a tornar sua experiência de compra a melhor possível.
        </p>
        <h2>Cartões aceitos:</h2>
        <div class="cartoes">
            <img src="~/images/bandeiracartoes/visa (1).png" />
            <img src="~/images/bandeiracartoes/logo.png" />
            <img src="~/images/bandeiracartoes/paypal-logo.png" />
            <img src="~/images/bandeiracartoes/logo-pix-icone-1024.png" />
        </div>
    </div>
</section>
<div class="contato">
       <a  asp-area="" asp-controller="Home" asp-action="Contatos">
         <button class="botao-contato">Entre em contato</button>
       </a>
</div>



