
.brindes {
    width:100%;
   display: flex;
    flex-direction: row;
    background-color: #F5F5DC;
    border-radius:10px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
.brindes .conteudo{
    justify-content: center;
    text-align: left;
    width: 60%;
    height: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left:10px
    
}
.brindes .conteudo .titulo {
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px black;
    border-radius:3px;

}
.personalizados{
     width:100%;
   display: flex;
    flex-direction:row-reverse;
    background-color: #F5F5DC;
    border-radius:10px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);

}
.personalizados .conteudo{
    justify-content: center;
    text-align: left;
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-right:10px
}
.personalizados .conteudo .titulo {
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px black;
    border-radius:3px;

}
.pagamento{
    margin-top:40px;
    width:100%;
   display: flex;
    flex-direction: column;
    background-color: #F5F5DC;
    border-radius:10px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
.pagamento .conteudo{
    justify-content: center;
    
    width: 60%;
    height: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left:10px
}
