
.borda-titulo{
    border:solid 2px black;
    border-radius:10px;
    width: 20%;
    height: 75px;
    text-align: center;
}
.titulo-brindes{
    text-align: center;
    color: white;
    
}
.brindes {
    width:100%;
   display: flex;
    flex-direction: row;
    border-radius:10px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
.brindes .conteudo{
    background-color: #F5F5DC;
    justify-content: center;
    text-align: left;
    width: 60%;
    height: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left:10px
    
}
.brindes .conteudo .titulo {
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px black;
    border-radius:3px;

}
.titulo-moveis{
    text-align: center;
    color: white;
    
}
.personalizados{
     width:100%;
   display: flex;
    flex-direction:row-reverse;
    background-color: #F5F5DC;
    border-radius:10px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);

}
.personalizados .conteudo{
    justify-content: center;
    text-align: left;
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-right:10px
}
.personalizados .conteudo .titulo {
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 2px black;
    border-radius:3px;

}
.pagamento{
    margin-top:40px;
    width:100%;
   display: flex;
    flex-direction: column;
    background-color: #F5F5DC;
    border-radius:10px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
.pagamento .conteudo{
    justify-content: center;
    
    width: 60%;
    height: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left:10px
}
.pagamento .cartoes{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.pagamento .cartoes img{
    width: 60px;
    height: 60px;
   
}
.contato{
    
}
.contato .botao-contato{
    width: 200px;
    height: 50px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
     transition: 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
.contato .botao-contato:hover {
    background-color: #45a049; /* Darker green on hover */
    transition: 0.3s ease-in-out;
    transform:translateY(-2px);
   
}